fugashi==1.2.1
gensim==4.3.0
ginza==5.1.2
ja-ginza==5.1.2
numpy
pandas==1.5.3
Pillow==9.4.0
python-telegram-bot==20.0
sentencepiece==0.1.97
simpletransformers==0.63.9
spacy==3.4.4
torch==1.13.1
torchvision==0.14.1
tqdm
transformers==4.21.0
unidic-lite==1.0.8
wandb==0.13.9
wget==3.2